/* CartWidget.css */
.cart-container {
    position: fixed; /* Posición fija para que permanezca en la misma ubicación al desplazarse */
    top: 5; /* Coloca el contenedor en la parte superior de la pantalla */
    right: 0; /* Coloca el contenedor en la esquina derecha de la pantalla */
    padding: 10px; /* Espacio alrededor del contenido dentro del contenedor */
  
    background-color: #fff; /* Fondo blanco (puedes cambiarlo según tu diseño) */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Sombra para resaltar */
  
  }
  
  .cart-icon {
    width: 24px; /* Cambia el tamaño del icono según tus preferencias */
    height: 24px;
    margin-right: 8px; /* Agrega un espacio entre el icono y el número */
  }
  
  .item-count {
    font-size: 16px; /* Cambia el tamaño de la fuente del número según tus preferencias */
  }
  